@import "../../global.scss";

.Menu {
    width: $menuWidth;
    height: calc(100vh - $navHeight);
    background-color: white;
    position: fixed;
    top: $navHeight;
    right: -$menuWidth;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1000ms ease;

    &.active{
        right: 0px;
        background-color: $mainColor;
    }

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 30px;
        font-weight: 300;
        color: white;
        width: 60%;

        li{

            margin-bottom: 25px;

            a{
                font-size: inherit;
                color: inherit;
                text-decoration: none;
            }
            &:hover{
                font-weight: 500;
            }
        }
    }
}