@import "./global.scss";

.app{
    height: 100vh;

    .sections{
        height: calc(100vh - $navHeight);
        width: 100%;
        background-color: coral;
        position: relative;
        top: $navHeight;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
        scrollbar-width: none;
        &::-webkit-scrollbar{
            display: none;
        }

        > *{
            width: 100vw;
            height: calc(100vh - $navHeight);
            scroll-snap-align: start;
        }
    }
}

